// Genericos
body {
  font-family: 'Titillium Web', sans-serif; // Letra por defecto
  background-color: whitesmoke;
}

// Comentarios
#comentarios {
  background-color: gainsboro;
  padding: 20px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
