// Genericos
body {
  font-family: 'Titillium Web', sans-serif; // Letra por defecto
  background-color: whitesmoke;
}

// Navegacion
.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

// Comentarios
#comentarios {
  background-color: gainsboro;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 20px 0 20px 0;
}

// info dos
#info-dos {
  background-color: #e9e9e9;
}

// foter
footer {
  // margin: 20px 0 0px 0;
  background: url(../images/smartphones.png);
  // background-repeat: no-repeat;
  background-size: cover;
}
